.container {
  margin: 0 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.mainTitle {
  color: white;
  font-size: 6rem;
}

.mainSubTitle {
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
}

.green {
  color: #a5e8a5;
}

p {
  text-align: center;
  display: block;
  margin-top: 0.25rem;
  color: #656565;
  font-weight: 300;
}

.guidesTitle {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 300;
  color: #656565;
}
