.container {
  margin: 0 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.mainTitle {
  color: white;
  font-size: 6rem;
}

.mainSubTitle {
  font-size: 3rem;
  margin: 0;
  font-weight: 300;
}

.green {
  color: #a5e8a5;
}
