.button {
  color: white;
  font: inherit;
  font-weight: 400;
  cursor: pointer;
  padding: 1rem;
  background-color: #588958;
  border: 1px solid #588958;
  border-radius: 10px;
  transition: background-color 200ms linear;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.button:hover {
  background-color: white;
  color: #588958;
}
