.topNav {
  top: 0;
  position: fixed;
  background: white;
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid rgb(197, 197, 197);
  z-index: 1;
  padding: 0 1rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.link {
  color: black;
  opacity: 0.6;
  font-size: 1.25rem;
  margin-right: 1rem;
  transition: opacity 200ms linear;
}

.link:hover {
  opacity: 1;
}

.brand {
  font-size: 2rem;
}

.container button {
  margin-left: 1rem;
}
