.topNav {
  top: 0;
  position: fixed;
  background: white;
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid rgb(197, 197, 197);
  z-index: 1;
  padding: 0 1rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.link {
  color: black;
  opacity: 0.6;
  font-size: 1.25rem;
  margin-right: 1rem;
  transition: opacity 200ms linear;
}

.link:hover {
  opacity: 1;
}

.brand {
  font-size: 2rem;
}

.container button {
  margin-left: 1rem;
}

.contactForm label {
  display: block;
  text-align: left;
}

.contactForm input {
  display: block;
  margin-top: 1rem;
  width: 25rem;
  font-size: 1.125rem;
  height: 2rem;
  outline: 0;
  border: none;
  border-bottom: 1px solid #6a7070;
}

.contactForm input:focus {
  /* ANIMATION -- SAME AS PEARSON LOGIN PAGE */
}

.contactForm button {
  display: block;
  margin: 1rem auto;
  box-shadow: none;
}
