.topNav {
  top: 0;
  position: fixed;
  background: white;
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid rgb(197, 197, 197);
  z-index: 1;
  padding: 0 1rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.link {
  color: black;
  opacity: 0.6;
  font-size: 1.25rem;
  margin-right: 1rem;
  transition: opacity 200ms linear;
}

.link:hover {
  opacity: 1;
}

.brand {
  font-size: 2rem;
}

.container button {
  margin-left: 1rem;
}

.contactForm h3 {
  font-weight: 700;
  font-size: 1.5rem;
}

.contactForm label {
  display: block;
  position: relative;
  text-align: left;
}

.contactForm input {
  display: block;
  margin-top: 1rem;
  width: 25rem;
  font-size: 1.125rem;
  height: 2rem;
  outline: 0;
  border: none;
  border-bottom: 1px solid #6a7070;
}

.contactForm input:focus + .inputUnderline::after {
  position: absolute;
  content: '';
  display: block;
  background: #588958;
  width: 62.5%;
  height: 4px;
  animation: underline-expand 100ms forwards;
}

.contactForm button {
  display: block;
  margin: 1rem auto;
  box-shadow: none;
}

@keyframes underline-expand {
  from {
    transform-origin: center;
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
