.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: backdrop-fade-in 500ms ease-out forwards;
  background: rgb(9, 9, 9);
}

.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 40%;
  animation: modal-fade-in 500ms ease-out forwards;
  background-color: white;
  border-radius: 5px;
}

.inactive {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s 1s;
}

@keyframes backdrop-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: translate(50%, 33%);
  }
  to {
    opacity: 1;
    transform: translate(50%, 66%);
  }
}
