.description p {
  font-size: 1.5rem;
  padding: 1rem;
}

.blog {
  border-top: 1px solid rgb(197, 197, 197);
}

.blog h1 {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.blog ul {
  list-style: none;
}

.blog li {
  margin: 1rem 0;
  background: rgb(251, 251, 251);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity 200ms;
}

.blog li:hover {
  opacity: 0.7;
}

.date {
  font-size: 1.125rem;
  font-weight: bolder;
  color: #588958;
}
