@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

*::selection {
  background-color: #7fc37f;
  color: #282c34;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
}

.container {
  height: 90vh;
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 70rem;
  margin: 0 auto;
  color: #282c34;
}
