.modalContainer {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(9, 9, 9, 0.5);
  opacity: 0;
  animation: backdrop-fade-in 700ms forwards;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 30rem;
  width: 40rem;
  background-color: white;
  transform: translateY(-30%);
  animation: modal-fade-in 500ms forwards;
  opacity: 0.5;
  border-radius: 5px;
  text-align: center;
}

.modal form {
  margin-top: -5rem;
}

.modal img {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  transition: background-color 100ms;
}

.modal img:hover {
  background: rgba(9, 9, 9, 0.075);
}

@keyframes backdrop-fade-in {
  to {
    opacity: 1;
  }
}

@keyframes modal-fade-in {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
