.topNav {
  top: 0;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  height: 6rem;
  width: 100%;
  border-bottom: 1px solid rgb(197, 197, 197);
  z-index: 1;
  padding: 0 1rem;
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
}

.link {
  color: black;
  opacity: 0.6;
  font-size: 1.25rem;
  margin-right: 1rem;
  transition: opacity 200ms linear;
}

.link:hover {
  opacity: 1;
}

.brand {
  font-size: 2rem;
}

.container button {
  margin-left: 1rem;
  width: 8rem;
}

@media (max-width: 50em) {
  .brand {
    font-size: 1.5rem;
  }

  .hamburger {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 12px;
    right: 10px;
    width: 75px;
    height: 75px;
    cursor: pointer;
  }

  .hamburger .bar {
    display: block;
    height: 2px;
    width: 70px;
    background-color: black;
    opacity: 0.6;
    transition: transform 200ms ease-in-out;
  }
  .hamburger:hover {
    display: grid;
  }

  .hamburger:hover .bar:first-of-type {
    grid-column: 1;
    grid-row: 1;
    transform: rotateZ(45deg) scaleY(3);
    opacity: 1;
  }

  .hamburger:hover .bar:last-of-type {
    grid-column: 1;
    grid-row: 1;
    transform: rotateZ(-45deg) scaleY(3);
    opacity: 1;
  }
  .hamburger:hover .bar:nth-of-type(2) {
    display: none;
  }

  .links {
    display: none;
  }
}
